.hero {
  background-color: #fcfad5;
  padding: 55px 0;
}

.hero-content {
  background-image: url("/assets/images/hero-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 61px;
  padding: 133px 88px 125px;
  color: #fcfad5;
  font-family: "Poppins", sans-serif;
}

.hero-content h1 {
  margin-top: 15px;
  margin-bottom: 24px;
  font-weight: 400;
}

.hero-content h4 {
  font-weight: 400;
}

.about-header {
  background-image: url("/assets/images/about-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 447px;
  overflow: hidden;
  position: relative;
}

.about-header h2 {
  font-family: 'Inter';
  color: white;
  position: absolute;
  bottom: 10px;
  left: 43%;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 121px;
  color: #FFFFFF;
}

.about-content {
  background-color: white;
  max-width: 828px;
  margin: 0 auto;
  padding: 55px 0;
}

.about-content p {
  font-family: "Poppins", sans-serif;
  color: #4e351f;
  text-align: center;
  line-height: 52px;
}

.about-content a {
  text-align: center;
  color: #4e351f;
}

.quote {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, rgba(63, 46, 30, 0.6), rgba(63, 46, 30, 0.6)),
    url("/assets/images/landing-quote-bg.png");
  padding: 169px 0;
  color: #fcfad5;
}

.quote h4 {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 78px;
  text-align: center;
}

.quote p {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 78px;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}

.user-interface {
  padding: 112px 0;
}

.user-interface h2 {
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Inter'
}

.interfaces-wrap .brushd {
  display: flex;
  column-gap: 43px;
  margin-bottom: 155px;
}

.interfaces-wrap .brushd img {
  flex: 1;
  width: 50%;
}

.interfaces-wrap .black {
  display: flex;
  column-gap: 44px;
}
.interfaces-wrap .black .black-item {
  flex: 1;
  width: 50%;
}

.interfaces-wrap .black .black-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 112px;
}

.projects {
  background-color: #fcfad5;
  padding: 90px 0;
}

.projects h2 {
  font-family: 'Inter';
}

.projects-wrap {
  display: flex;
  column-gap: 180px;
  overflow-x: auto;
}

.project-card {
  max-width: 468px;
  width: 100%;
  text-align: center;
}

.project-card img {
  width: 468px;
  height: 326px;
  object-fit: cover;
}

.project-card h4 {
  font-size: 35px;
  line-height: 121px;
  font-weight: 500;
  color: #4e351f;
  text-align: center;
  font-family: 'Inter';
}

.project-card p {
  font-size: 24px;
  line-height: 29px;
  color: #4e351f;
  text-align: center;
  font-family: 'Inter';
}

.learn-more-button-wrap {
  display: flex;
  justify-content: center;
  margin-top: 98px;
}

.learn-more-button {
  padding: 30px 90px;
  font-size: 24px;
  line-height: 23px;
  text-align: center;
  color: white;
  background-color: #3f2e1e;
  border-radius: 80px;
  text-decoration: none;
  font-family: 'Inter';
}

.tools {
  padding: 91px 0;
}

.tools h2 {
  font-family: 'Inter';
}