.hero {
  background-color: #fcfad5;
  padding: 55px 0;
}

.hero-content {
  background-image: url("/assets/images/hero-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 61px;
  padding: 133px 88px 125px;
  color: #fcfad5;
  font-family: "Poppins", sans-serif;
}

.hero-content h1 {
  margin-top: 15px;
  margin-bottom: 24px;
}

.about-header {
  background-image: url("/assets/images/about-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 447px;
  overflow: hidden;
}

.about-content {
  background-color: white;
  max-width: 828px;
  margin: 0 auto;
  padding: 55px 0;
}

.about-content p {
  font-family: "Poppins", sans-serif;
  color: #4e351f;
  text-align: center;
  line-height: 52px;
}

.about-content a {
  text-align: center;
}

.quote {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, rgba(63, 46, 30, 0.6), rgba(63, 46, 30, 0.6)),
    url("/assets/images/landing-quote-bg.png");
  padding: 169px 0;
  color: #FCFAD5;
}

.quote h4, .quote p {
    text-align: center;
}

.user-interface {
    padding: 112px 0;
}

.user-interface h2 {
    text-align: center;
    margin-bottom: 50px;
}

.interfaces-wrap .brushd {
    display: flex;
    column-gap: 43px;
    margin-bottom: 155px;
}

.interfaces-wrap .brushd img {
    flex: 1;
    width: 50%;
}

.interfaces-wrap .black {
    display: flex;
    column-gap: 44px;
}
.interfaces-wrap .black .black-item {
    flex: 1;
    width: 50%;
}

.interfaces-wrap .black .black-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 112px;
}

.projects {
    background-color: #fcfad5;
    padding: 90px 0;
}

.projects-wrap {
  display: flex;
  column-gap: 180px;
  overflow-x: auto;
}

.project-card {
    max-width: 468px;
    width: 100%;
    text-align: center;
    
}

.project-card img {
    width: 468px;
    height: 326px;
    object-fit: cover;
}

.project-card h4 {
    font-size: 35px;
    line-height: 121px;
    font-weight: 500;
    color: #4E351F;
    text-align: center;
}

.project-card p {
    font-size: 24px;
    line-height: 29px;
    color: #4E351F;
    text-align: center;
}

.learn-more-button-wrap {
    display: flex;
    justify-content: center;
    margin-top: 98px;
}

.learn-more-button {
    padding: 30px 90px;
    font-size: 24px;
    line-height: 23px;
    text-align: center;
    color: white;
    background-color: #3F2E1E;
    border-radius: 80px;
    text-decoration: none;
}


.tools {
  padding: 91px 0;
}