.bg {
  background-image: url(/assets/images/pa-access/pa-access-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  height: calc(100vh - 95px) !important;
  width: 100%;
}

.hero .container {
  height: 100%;
  display: flex;
  padding-top: 150px;
}

.container .content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.hero .container .hero-content h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 120px;
  color: #ffffff;
}

.hero .container .hero-content p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 75px;
  color: #ffffff;
}

.hero .content-bottom {
  position: absolute;
  bottom: 60px;
}

.hero .content-bottom h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 75px;
  color: #ffffff;
}

.hero .content-bottom p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #ffffff;
}

section {
  margin-bottom: 22px;
  min-height: 100vh;
}

.content h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 120px;
  color: #ffffff;
}

.content p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: #ffffff;
}

.content h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 21px;
  letter-spacing: -0.022em;
  color: #ffffff;
  margin-bottom: 62px;
  margin-top: 62px;
}

.research-card {
  background: rgba(255, 255, 255, 0.143);
  backdrop-filter: blur(26.5194px);
  border-radius: 9.59665px;
  padding: 22px 25px;
}

.research-card p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 21.3353px;
  line-height: 32px;
  color: #ffffff;
}

.research-grid {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 81px;
  row-gap: 75px;
  margin-top: 144px;
}

.research-card img {
  margin-top: 10px;
  width: 100%;
}

.user-card {
  background-color: white;
  max-width: 350.01px;
  border: 1.73489px solid #000000;
  border-radius: 13.0116px;
  padding: 35px 40px;
}

.user-card img {
  width: 100%;
  margin-bottom: 19px;
}

.user-card h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 27.7582px;
  line-height: 35px;
  letter-spacing: -0.022em;
  color: #000000;
}

.user-card p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17.3489px;
  line-height: 21px;
  letter-spacing: -0.022em;
  color: #000000;
}

.user-bio-card {
  max-width: 500.57px;
  margin-left: 45px;
  border: 1.73489px solid #000000;
  border-radius: 13.0116px;
  padding: 35px 40px;
  background-color: white;
}

.user-bio-card p {
  margin-top: 26px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.022em;
  color: #181818;
}

.user-card-grid {
  display: flex;
  column-gap: 52px;
  justify-content: space-between;
}

.user-card-grid .small {
  flex: 1;
}

.user-bio-card.small {
  max-width: unset;
  width: 100% !;
  margin-left: 0;
  min-height: 419.84px;
}

.user-bio-card.small.transparent {
    background-color: transparent;
    border: none
}