.hero {
  height: calc(100vh - 95px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.figma-logo {
  position: absolute;
  bottom: 94px;
  left: 64px;
}

.case-study-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.case-study {
  background-color: #000000;
  padding-top: 92px;
  padding-bottom: 92px;
}

.case-study h3 {
  color: #ff7262;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 75px;
  margin-bottom: 21px;
}

.case-study p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.details {
  padding-bottom: 94px;
}

.details h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  color: #ff7262;
  margin-top: 84px;
}

.details p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 50px;
}

ul {
  padding: 0;
  margin-left: 20px;
}

ul li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 50px;
}

.research-interviews {
}

.research-interviews .header {
  background-color: #ff7262;
  padding-top: 60px;
  padding-bottom: 93px;
}

.research-interviews .details {
  padding-top: 130px;
  padding-bottom: 130px;
  color: black;
}

.research-interviews .header h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  color: white;
}

.research-interviews .header p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: white;
  margin-top: 36px;
}

.research-interviews .details .interview-group {
  display: flex;
  column-gap: 24px;
  margin-bottom: 60px;
  align-items: center;
}

.research-interviews .details .survey-grid {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 31px;
  row-gap: 79px;
  margin-top: 160px;
  margin-bottom: 146px;
}

.research-interviews .details p span {
  color: #ff7262;
}

.research-interviews .details ul li span {
  color: #ff7262;
}

.research-interviews .details ul {
  margin-top: 67px;
}

.research-interviews .details .image-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 180px;
}

.research-interviews .details .image-wrap img {
  width: 100%;
}